<!DOCTYPE html>
<html lang="en" class="page  {{ page.page-class }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    
    <link rel="author" href="http://plus.google.com/115015981130426720556"/>
	<link rel="publisher" href="http://plus.google.com/115015981130426720556"/>

    <!-- Prefetch DNS for external assets (Twitter widgets etc). -->
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//platform.twitter.com">
    <link rel="dns-prefetch" href="//www.google-analytics.com">
    <link rel="dns-prefetch" href="//themes.googleusercontent.com">
    <link rel="dns-prefetch" href="//p.twitter.com">
    <link rel="dns-prefetch" href="//cdn.api.twitter.com">
    <link rel="dns-prefetch" href="//cdn.adpacks.com">

    <!-- Prerender work page -->

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@quangbahoa">
    <meta name="twitter:domain" content="leduyquang.com.com">
    <meta name="twitter:creator" content="@quangbahoa">
    <meta name="twitter:title" content="{{ page.title }} – Le Duy Quang">
    <meta name="twitter:image:src" content="http://leduyquang.com/logo.png">
    {% if page.meta %}
        <meta name="twitter:description" content="{{ page.meta }}">
    {% endif %}
    
    <title>{{ page.title }} &ndash; Le Duy Quang</title>
    
    <link rel="stylesheet" href="/css/style.css">

    <link rel="alternate" type="application/atom+xml" href="http://feeds.feedburner.com/leduyquang">
    
    <link rel="shortcut icon" href="/icon.png">
    <link rel="apple-touch-icon-precomposed" href="/icon.png">
    <meta name="apple-mobile-web-app-title" content="csswizardry">
    <meta name="description" content="Thiet ke WordPress, Xay dung he thong thuong mai dien tu OpenCart, Prestashop, Magento...">

</head>
<body>

    <!-- Hidden preload `div` to fetch images before CSS needs them. -->
    <div class="ಠ_ಠ">
    </div>

    <div class="wrapper">
        
        <header class="page-head">

            <a href="/" title="Return to homepage" class="site-logo">
                <img src="logo_256.jpg" alt="Le Duy Quang" class="s-logo" width="68" height="68" />
            </a>

            <ul class="nav  site-nav">
				<li class="site-nav__about"><a href="/">Home</a></li>	
                <li class="site-nav__about"><a href="/#divine">About</a></li><!--
             --><li class="site-nav__speaking"><a href="/#work-section">Work</a></li><!--
             --><li class="site-nav__hire"><a href="/#contact-section">Contact</a></li>
				<li class="site-nav__hire"><a href="/blog/">Blog</a></li>
            </ul>

        </header><!-- /page-head -->

    </div><!-- /wrapper -->
    
    <div id="divine"></div>

    <div class="wrapper">

        <div class="gw">
            
            <div class="g  one-whole  desk-six-tenths">
                {{ content }}
            </div>
            
        </div>
        
    </div><!-- /wrapper -->

    <footer class="page-foot">
	<div class="wrapper">

        <p>Copyleft {{ site.time | date: '%Y' }} <a href="http://twitter.com/quangbahoa">Le Duy Quang</a>.
           Built with <a href="http://inuitcss.com">inuitcss</a>
           and <a href="http://jekyllrb.com/">Jekyll</a>.
           The source code of this blog is <a href="https://github.com/">hosted on GitHub</a>.</p>

    </div></footer><!-- /wrapper /page-foot -->
    
<script>
    
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-20048065-2']);
    _gaq.push(['_trackPageview']);
    
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    
</script>

</body>
</html>
